<a href="https://colab.research.google.com/github/theYogeshArora/Python-Workshop/blob/main/Lab05tuple.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Lab 4: Operation on Tuples and List: hands-on practice

In [3]:
#Q1. Write a Python program to create a tuple
tup=("arora","bright","yogesh")
print(tup)

('arora', 'bright', 'yogesh')

In [4]:
#Q2 Write a Python program to create a tuple with different data types.  
tup=(1,2,"yogesh",True)
tup

(1, 2, 'yogesh', True)

In [5]:
#Q3:Write a Python program to create a tuple with numbers and print one item.  
tup=(0,1,2)
print(tup[1])

1

In [7]:
#Q4:Write a Python program to unpack a tuple in several variables.  
var1=tup[0]
var2=tup[1]
var3=tup[2]
print(var1,"",var2,"",var3)

0  1  2

In [9]:
#Q4: OR
var1,var2,var3=tup
print(var1,"",var2,"",var3)

0  1  2

In [10]:
#Q5: Write a Python program to add an item in a tuple.  
tup1=tup+(9,)
print (tup1)

#you can add item using slicing as well
tup2=tup[0:5]+(1,2)
print (tup2)

# or you can change tuple to list and then to a tuple again
list1=list(tup)
list1.append(50)
tup3=tuple(list1)
print (tup3)

(0, 1, 2, 9)
(0, 1, 2, 1, 2)
(0, 1, 2, 50)

In [18]:
#Q6:Write a Python program to convert a tuple to a string.  

tup1=("Y","o","g","e","s","h"," ","A","r","o","r","a")
str=''.join(tup1)
str

'Yogesh Arora'

In [19]:
#Q7:Write a Python program to get the 4th element and 4th element from last of a tuple
tup1=(1,2,3,4,5,6,7,8,9,10)
print(tup1[3])
print(tup1[-4])

4
7

In [21]:
#8. Write a Python program to find the repeated items of a tuple.  
tup1=(1,1,3,4,5,1,7,8,9,10,1)
count=tup1.count(1)
print(count)

4

In [22]:
#9. Write a Python program to check whether an element exists within a tuple.  
if 4 in tup1:
    print("true")
else :
    print("false")

true

In [24]:
#10. Write a Python program to convert a list to a tuple.  
list1=[1,2,3,4]
tuple1=tuple(list1)
print(tuple1)

(1, 2, 3, 4)

In [26]:
#11. Write a Python program to remove an item from a tuple
tuple1=(1,2,3,4)
list1=list(tuple1)
list1.remove(4)
tup1=tuple(list1)
print(tup1)

(1, 2, 3)

In [27]:
#12. Write a Python program to slice a tuple 
#You can use slicing to remove an item from tuple
#You can either use slicing or convert it to a list
# removing 3 from tuple1
tuple1=(1,2,3,4)
new_tup=tuple1[0:2]+tuple1[3:]
print(new_tup)

(1, 2, 4)

In [28]:
#13. Write a Python program to find the index of an item of a tuple.  
tup1=(1,2,3,4,5,60)
print(tup1.index(5))

4

In [30]:
#14. Write a Python program to find the length of a tuple.  
tup1=(00,10,20,30,40,50,60,70)
print(len(tup1))

8

In [31]:
#15. Write a Python program to reverse a tuple. 
tup1=(00,10,20,30,40,50,60,70,80,100)
tup2=reversed(tup1)
print(tuple(tup2))

(100, 80, 70, 60, 50, 40, 30, 20, 10, 0)