<a href="https://colab.research.google.com/github/theYogeshArora/Python-Workshop/blob/main/lab6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:


#                           	MANAV RACHNA UNIVERSITY, FARIDABAD
#                         Department of Computer Science  and Technology

# Course: B.Tech(CSE)    			                                                       Semester:IV                                                                                                                                 Subject:  Programming for Problem Solving using Python(CSW208B)                  Session: 2020-21
#                           Lab 6: Operation on Sets : hands-on practice

# Learning Outcome CO1:  Student will be able to implement concepts of  Sets in Python
# Blooms Taxonomy Level: BT1, BT2, BT3
# Sets
# submitted by Yogesh Arora

In [ ]:
# Consider the sets: set1 = {10, 20, 30, 40, 50}
# set2 = {30, 40, 50, 60, 70}

#     1. Write a program to create two sets Set1 and Set2 as above.

set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}
print(set1)
print(set2)

{40, 10, 50, 20, 30}
{70, 40, 50, 60, 30}

In [ ]:
#     2. Write a program to add an element 80 to set2.
seT = {10, 20, 30, 40, 50}
seT.add(80)
print(seT)

{40, 10, 80, 50, 20, 30}

In [ ]:
#     3. Write a Python program to create a union of set1 and set2.
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}
print(set1.union(set2))
print(set2.union(set1))

{70, 40, 10, 50, 20, 60, 30}
{70, 40, 10, 50, 20, 60, 30}

In [ ]:
#     4. Write a Python program to clear a set1
seT = {10, 20, 30, 40, 50}
seT.clear()
print(seT)

set()

In [ ]:
#     5. Add a list of elements to a given set
# sampleSet = {"Yellow", "Orange", "Black"}
# sampleList = ["Blue", "Green", "Red"]
# Expected output:
# In set item order is not a concern
# {'Green', 'Yellow', 'Black', 'Orange', 'Red', 'Blue'}

sampleSet = {"Yellow", "Orange", "Black"}
sampleList = ["Blue", "Green", "Red"]
sampleSet.update(sampleList)
print(sampleSet)

{'Red', 'Black', 'Blue', 'Green', 'Yellow', 'Orange'}

In [ ]:
#     6. Write a program to find length of a set1.

set1 = {10, 20, 30, 40, 50}
print(len(set1))

5

In [ ]:
#     7. Write a program to remove 30 from  set2.
set2 = {30, 40, 50, 60, 70}
set2.remove(30)
print(set2)

{70, 40, 50, 60}

In [ ]:
#     8. WAP to Returns a new set with all items from both sets by removing duplicates
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}
set1.update(set2)
print(set1)

{70, 40, 10, 50, 20, 60, 30}

In [ ]:
#     9. Write a program to pop an element from a set
set1 = {10, 20, 30, 40, 50}
set1.pop()
print(set1)

{10, 50, 20, 30}

In [ ]:
#     10. Return a set of identical items from a given two Python set
# set1 = {10, 20, 30, 40, 50}
# set2 = {30, 40, 50, 60, 70}
# Expected output:
# {40, 50, 30}

set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}
set1.intersection_update(set2)
print(set1)

{40, 50, 30}

In [ ]:
#     11. Determines whether or not the following two sets have any elements in common. If yes display the common elements
# set1 = {10, 20, 30, 40, 50}
# set2 = {60, 70, 80, 90, 10}
# Expected output:
# Two sets have items in common
# {10}
set1 = {10, 20, 30, 40, 50}
set2 = {60, 70, 80, 90, 10}



print(set1.intersection(set2))

{10}

In [ ]:
#     12. Return a set of all elements in either A or B, but not both
# set1 = {10, 20, 30, 40, 50}
# set2 = {30, 40, 50, 60, 70}
# Expected output:
# {20, 70, 10, 60}
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}

set1.symmetric_difference_update(set2)
print(set1)

{70, 10, 20, 60}

In [ ]:
#     13. Given two Python sets, update first set with items that exist only in the first set and not in the second set.
# set1 = {10, 20, 30}
# set2 = {20, 40, 50}
# Expected output:
# set1 = {10, 30}
set1 = {10, 20, 30}
set2 = {20, 40, 50}

set1.difference_update(set2)
print(set1)

{10, 30}

'\n14. Remove 10, 20, 30 elements from a following set at once\nset1 = {10, 20, 30, 40, 50}\nExpected output:\n{40, 50}\n'

In [ ]:
#     15. Update set1 by adding items from set2, except common items
# set1 = {10, 20, 30, 40, 50}
# set2 = {30, 40, 50, 60, 70}
# Expected output:
# {70, 10, 20, 60}
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}

print(set1.symmetric_difference(set2))

{20, 70, 10, 60}

In [ ]:
#     16. Remove items from set1 that are not common to both set1 and set2
# set1 = {10, 20, 30, 40, 50}
# set2 = {30, 40, 50, 60, 70}
# Expected output:
# {40, 50, 30}
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}

set1.intersection_update(set2)
print(set1)

{40, 50, 30}