<a href="https://colab.research.google.com/github/theYogeshArora/Python-Workshop/blob/main/PT1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
#Q1 Please write a program which accepts a string from console and print the characters that have even indexes.

#asuming index values are 0,1,2...  so on and so forth
print("Please enter text to print::")
inputchars = input()

if inputchars:
	string = ""
	for i in inputchars:
		if inputchars.index(i)%2 == 0:
			string += str(i)
	
	print('-------------------')
	print("You Entered:", inputchars)
	print("Result:")
	print(string)

Please enter text to print::
Yogesh Arora
-------------------
You Entered: Yogesh Arora
Result:
Ygs rr

In [4]:
#Q2 WAP to iterate the given list and display numbers which are divisible by 5 and if you find number greater than 150 stop the loop iteration
#         list1 = [12, 15, 32, 42, 55, 75, 122, 132, 150, 180,200]
#         Expected output:
#         15
#         55
#         75
#         150


list1 = [12,15, 32, 42, 55, 75, 122, 132, 150, 180, 200]
for item in list1:
    if (item > 150):
        break
    if(item % 5 == 0):
        print(item)

15
55
75
150

In [3]:
#Q3 WAP in Python to Concatenate two lists in the following order
#      list1 = ["Hello ", "take "]
#      list2 = ["Dear", "Sir"]
#       Expected output
#       ['Hello Dear', 'Hello Sir', 'take Dear', 'take Sir']

list1 = ["Hello ", "take "]
list2 = ["Dear", "Sir"]

ConcatList = [x+y for x in list1 for y in list2]
print(ConcatList)

['Hello Dear', 'Hello Sir', 'take Dear', 'take Sir']

In [2]:
#Q4 WAP in python to show unpacking the values of tuples.

tup=("Yogesh","Arora","2K19CSUN01120")
print(tup)

var1=tup[0]
var2=tup[1]
var3=tup[2]
print(var1,"",var2,"",var3)


# OR


var1,var2,var3=tup
print(var1,"",var2,"",var3)

('Yogesh', 'Arora', '2K19CSUN01120')
Yogesh  Arora  2K19CSUN01120
Yogesh  Arora  2K19CSUN01120